body {
    
    background-attachment:fixed;
    background-size:cover;
    background-color:blue;
    background-image:url("https://wallpapercave.com/w/8IUlIup.jpg");
    border-radius:20px; 
    font-family: 'sans-serif';
}

@keyframes clips {
50% {
clip-path: polygon(50% 0%, 40% 80%, 100% 60%, 100% 80%, 90% 80%, 40% 100%, 10% 50%)
}
}
h1{
    color:#f2395a;
    text-transform:uppercase;
    text-shadow:1px 1px rgb(209, 14, 129),
                2px 2px rgb(36, 36, 37),
                3px 3px rgb(209, 14, 49),
                4px 4px rgb(209, 14, 49),
                5px 5px rgb(36, 37, 69),
                6px 6px pink,
                7px 7px rgb(137, 9, 32),
                8px 8px rgb(137, 9, 48),
       9px 9px 13px rgba(0, 0, 0, 0.5);
     font-family:cookie;
}

#cake{
    margin-top:50%;
    margin-left:705px;
    width:10px;
    height:30px; 
    background:linear-gradient(yellow,red,orange);
    border-radius:50%;
    animation: clips 3s ease infinite; }

#cake1{ 
    margin-left:700px;
    width:19px;
    height:60px; 
    background:white;
    border-radius:5px; }
#cake2{ 
    margin-left:611px;
    width:189px;
    height:84px; 
    background: linear-gradient(-75deg, papayawhip,crimson,papayawhip,papayawhip);
    border-radius:30px; 
    text-align:center;
    color:white;
    text-shadow:1px 3px pink;}
#cake-enter{ 
    margin-left:578px;
    width:256px;
    height:84px; 
    border-radius:30px; text-align:center;
    color:purple;
    text-shadow:1px 1px pink;
    background: linear-gradient(-85deg,papayawhip,papayawhip,brown);
}
#cake-enter1{ 
    width:300px;
     height:84px; 
    border-radius:30px;
    border-color:1px crimson;
    background: linear-gradient(-85deg,salmon,papayawhip,papayawhip,crimson);
    text-align:center;
    margin-left:558px;
    color:#f35;
    text-shadow:1px 1px pink;
 }
 #link{
     background-image:url("https://wallpapercave.com/w/gqNzO65.jpg");
     text-align:center;
     border-radius:40%;
     background-attachment:fixed;
     background-size:cover;
     color:white;
     font-size: 60px;
 }
div{
     font-weight: bolder;
    font-family: cursive;
    text-align:right ;
     color:pink;
 }
 .image{
     height: 100%;
     width: 500px;
     border: 100px solid blue;
     border-radius: 50%;
     float: left;
     margin-left: 400px;
 }
 h3{
     font-size: 40px;
     text-align: center;
     color: yellow;
 }
#id{
    color: yellow;
}
